// .box1{
//     @include bg;
//     background-color: #00ff00;
// }
// .box2{
//     @include bg;
//     background-color: #00ffff;
// }


// @mixin d-flex($justify-content: flex-start, $align-item: center, $gap: 20px){
    
// }

// .wrapper{
//     @include d-flex($justify-content: center, $gap: 50px);
//     // justify-content: end;
// }

// .box1{
//     @include bg;
// }
// .box2{
//     @include bg($bg: #1c75db, $width: 500px);
// }


.banner-section{
    position: relative;
    .banner-items{
        position: relative;
        height: 80vh;
        background-color: #000000;
        img{
            opacity: 0.5;
        }
        .banner-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            text-align: center;
            @include flex-colum;
            .tagline{
                font-size: 25px;
                font-weight: 600;
                font-family: $general-font;
            }
            .banner-heading{
                font-size: 36px;
                font-weight: 700;
                font-family: $heading-font;
            }
            p{
              color: #ffffff;  
              font-size: 18px;
                font-weight: 500;
            }
            .custome-btn{
                // display: inline-block;
                // margin: 20px;
                width: fit-content;
            }
        }
    }
    .slick-prev, .slick-next{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        position: absolute;
        right: 20px;
        transition: all 0.5s ease;
        &:hover{
            background-color: $primary-color;
            color: white;
            border: 1px solid $primary-color;
        }
    }
    .slick-prev{
        top: 45%;
        z-index: 99;
        transform: translateY(-100%);
    }
    .slick-next{
        top: 50%;
    }
    .social-media{
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        writing-mode: vertical-lr;
        color: white;
        font-family: $general-font;
        display: flex;
        gap: 45px;
        a{
            display: flex;
            align-items: center;
            gap: 10px;
            &::before{
                content: "";
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 1px dashed white;
            }
        }
    }
    .animate-plane{
        position: absolute;
        top: 30%;
        left: 10%;
        height: 80px;
        width: fit-content;
        object-fit: contain;
        animation: fly 5s linear infinite;
        opacity: 0.5;
    }
}

@keyframes fly{
    0%{
        transform: translateX(0) scale(0.5);
        opacity: 0;
    }
    50%{
        transform: translateX(50%) scale(0.8);
        opacity: 0.7;
    }
    100%{
        transform: translateX(100%) scale(0.5);
        opacity: 0;
    }
}

.top-destination{
    .destination{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    .box1{
        grid-column: 1/3;
    }
    .box6{
        grid-column: 3/5;
    }
}
// .destination{
//     position: relative;
//     transition: all 0.5s ease;

//     .box1{
//       position: absolute;
//         .country{
//         top: 100%;
//         h2{
//             font-family: $general-font;
//         }
//         }
//     }
//   }

.container {
    max-width: 1320px;
}

.destination{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.child:first-child{
    grid-column: 1/3;
}